---
# Only the main Sass file needs front matter (the dashes are enough)
---
#accounts {
  margin: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  margin-top: 48px;
}

.mdl-card__title {
  padding: 0px;
}

.mdl-card__title > img {
  height: 100%;
  width: 100%;
}

.post-date {
  color: rgb(130, 130, 130);
}

.post-info {
  height: 25%;
  max-height: 250px;
  width: 75%;
}

.post-link > h2 {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
