---
# Only the main Sass file needs front matter (the dashes are enough)
---
body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(190, 84, 84);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  background-color: rgb(132, 119, 179);
}

.mdl-card {
  background-color: rgb(198, 236, 254);
  height: 250px;
  width: 250px;
}

.mdl-card__title {
      padding: 0px;
}

.mdl-card__title > img {
  height: 250px;
  width: 250px;
}

.post-container {
  display: flex;
  flex-direction: row;
}

.post-info {
  height: 25%;
  max-height: 250px;
  width: 75%;
}
