@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes hideSpace {
  100% {
    height: 0;
    width: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
.center {
  transform: translate(-1.7em) rotate(-90deg) translate(1.9em) rotate(90deg);
}
.center img {
  border-radius: 50%;
  max-height: 125px;
  max-width: 125px;
}
#circle-container {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}
#circle-container li {
  left: 50%;
  margin: -2em;
  position: absolute;
  top: 50%;
}
#circle-container li #about-icon {
  border: 10px solid #c5dee9;
  border-radius: 50%;
  background-color: #c5dee9;
}
#circle-container li #email-icon {
  border: 10px solid #84404b;
  border-radius: 50%;
  background-color: #84404b;
}
#circle-container li #portfolio-icon {
  border: 10px solid #cf9769;
  border-radius: 50%;
  background-color: #cf9769;
}
#circle-container li a {
  color: white;
  text-decoration: none;
}
.deg30 {
  transform: rotate(30deg) translate(7.5em) rotate(-30deg);
}
.deg150 {
  transform: rotate(150deg) translate(7.5em) rotate(-150deg);
}
.deg270 {
  transform: rotate(270deg) translate(7.5em) rotate(-270deg);
}
.material-icons {
  font-size: 50px;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.hidden {
  display: none;
}
.fadeOutFromDisplay {
  animation: fadeOut 1s ease-in, hideSpace 0s;
  animation-delay: 0s, 1.0s;
  -webkit-animation-delay: 0s, 1.0s;
  -webkit-animation: fadeOut 1s ease-in, hideSpace 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.fadeInFromNone {
  animation: fadeIn 1s ease-in;
  -webkit-animation: fadeIn 1s ease-in;
}
@media (max-width: 600px) {
  section p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  #about {
    padding: 5% 0 5% 0;
    text-align: center;
  }
  #about a {
    background-color: #c5dee9;
    border-color: #c5dee9;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    color: black;
    display: inline-block;
    width: 50%;
    height: 25px;
    max-width: 100%;
    text-decoration: none;
  }
  #about a i {
    font-size: 25px;
    vertical-align: middle;
  }
  #about h2 {
    margin-top: 0;
  }
  #about p {
    padding: 0 5% 0 5%;
  }
  #content {
    transition: margin-left 0.5s;
    overflow-x: hidden;
  }
  #landing {
    background-color: #f3f3f3;
    height: 100vh;
    text-align: center;
    width: 100vw;
  }
  #landing h1 {
    margin-top: 0;
    padding-top: 20%;
  }
  #main-nav {
    display: none;
  }
  #portfolio .project {
    text-align: center;
    background-color: rgba(134, 155, 167, 0.2);
    margin: 0 25px 0 25px;
  }
  #portfolio .project h3 {
    font-size: 10vw;
    white-space: nowrap;
  }
  #portfolio .project .tags {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
  }
  #portfolio .project .tags p {
    background-color: white;
    border-color: black;
    border-radius: 2px;
    flex: 1 1 auto;
    margin: 2px;
  }
  #portfolio #showcase {
    text-align: center;
  }
  #portfolio #showcase #bunny-bear-button {
    background-color: white;
    border-color: black;
    border-radius: 50px;
    border-style: solid;
  }
  section header {
    text-align: center;
  }
}
