html, body {
    background-color: #44424D;
    min-width: 500px;
    overflow-x: hidden;
    position: relative;
}

#about {
    background-color: #E6C88C;
    text-align: center;
}

#aboutme {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block; 
    width: 75%;
}

#contact {
    text-align: center;
}

#container {
    height: 100vh;
}

#download {
    background-color: inherit;
    text-align: center
}

#download > button {
    margin: 0 auto;
    text-align: center;
}

#download > h3, #download > p {
    color: #fff;
}

h2 {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 25px;
/*    text-align: center;*/
}

nav {
    width: inherit;
}
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

#projects {
    background-color: #D7803B;
    height: 1000px;
}

#resume {
    background-color: #D5975A;
/*    height: 1000px;*/
}

.row {
    background: #44424D;
}

#sidebarNav {
    background: #44424D;
    color: white;
}

#skills {
    background-color: #E6C88C;
    height: inherit;
}

#summary {
    background-image: url("../images/stump_self_flipped.jpg"); 
    background-position: 50% 50%; /* or: center center */
    background-size: cover;
}

#summarytitle {
    margin: 0;
}

#thumbnail-gallery {
    padding-bottom: 50px;
}

ul {
    display: table;
    width: inherit;
    height: 100vh;
}

ul > li {
    display: table-cell;
}

ul > li > a {
    display: block;
    border: 0px;
    text-align: center;
/*    margin: 0 5px;*/
    background: inherit;
    height: auto;
}

ul > a > p {
    font-size: 5vmin;
}

#websitesummary {
    background: rgba(68, 66, 77, .6);
    color: #fff;
    height: 100%;
    margin-bottom: 50%;
    margin-top: 50%;
    max-height: 300px;
    min-height: 100px;
    
}

/* Below hr stuff was taken from
* http://www.techrepublic.com/blog/web-designer/customize-horizontal-rules-to-add-some-flair/ 
*/
hr.symbol {
    padding: 0;
    border: none;
    border-top: medium double #fff;
    color: #fff ;
/*    text-align: center;*/
}
hr.symbol:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    padding: 0 0.1em;
    background: inherit;
}

