@import "colours.less";
@import "animations.less";
@import "circle-nav.less";

#about {
    text-align: center;

    a {
        background-color: @light-blue;
        border-color: black;
        border-style: solid;
        border-width: 2px;
        color: black;
        display: inline-block;
        line-height: 2;
        padding: 0 5% 0 5%;
        text-decoration: none;

        i {
            font-size: 25px;
            vertical-align: middle;
        }
    }

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        img {
            flex: auto;
        }

        @media (min-width: 600px) {
            padding: 0 20% 0 20%;
        }
    }

    p {
        padding: 0 10% 0 10%;

        @media (min-width: 600px) {
            padding: 0 20% 0 20%;
        }
    }
}

body {
    margin: 0;
    overflow-x: hidden;
}

#close-section-button {
    background-color: rgba(0, 0, 0, .25);
    border-color: transparent;
    color: white;
    float: left;
    margin: 2%;
    position: fixed;
}

#contact {
    background-color: @light-blue;
    padding: 5%;

    #submit-email {
        background-color: white;
        font-size: 1.2em;
        line-height: 3;
        margin-top: 10px;
        min-width: 25%;
    }

    form {
        display: flex;
        flex-direction: column;

    }
}

#content {
    transition: margin-left .5s;
    overflow-x: hidden;
}

h2 {
    margin-top: 0;
    padding-top: 25px;
}

.hidden {
    display: none;
}

#main-nav {
    display: none;
}

#portfolio {
    .project {
        text-align: center;
        background-color: rgba(134, 155, 167, 0.2);
        margin: 0 10% 0 10%;

        @media (min-width: 600px) {
            margin: 0 20% 0 20%;
        }

        h3 {
            font-size: 1.5em;
            white-space: nowrap;
        }

        .tags {
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 10px 0 10px;

            p {
                background-color: white;
                border-color: black;
                border-radius: 2px;
                flex: 1 1 auto;
                margin: 2px;
            }
        }
    }

    #showcase {
        text-align: center;

        #bunny-bear-button {
            background-color: white;
            border-color: black;
            border-radius: 50px;
            border-style: solid;
        }
    }
}

section {
    header {
        font-size: 1.2em;
        text-align: center;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5;
    }
}
